
<!DOCTYPE html>
<html ng-app="">
<head runat="server">
    <title></title>
    <style type="text/css">

        #modifiable_Element1 {
            height: 59px;
        }
        #modifiable_Element2 {
            height: 127px;
            width: 327px;
        }
        .auto-style6 {            
            width: 453px;
            height: 49px;
        }
        .auto-style7 {
            width: 346px;
            height: 49px;
        }
        .auto-style11 {
            width: 453px;
            height: 103px;
        }
        .auto-style13 {
            height: 5px;
        }
        .additionalInfo-style {
            background-color:lightcoral;
            width: 453px;
            height: 163px;
            resize:none;
        }
        .auto-style21 {
            height: 165px;
        }
        .auto-style22 {
            background-color: lightcoral;
            width: 453px;
            height: 84px;
            resize: none;
        }
    </style>
</head>    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="SiteModifierScripts.js"></script>
    <script src="EditingAs.js"></script>
<body>
    <form id="form1" runat="server" action="SiteModifier" method="POST">
    <table>
    <tr> 
    <td style="width: 60%;">
         <table border="1" >
             <tr>
                   <td colspan ="3" class="auto-style13" > 
                       <table style="background-color:darkgray;width:100%">
                           <tr>
                               <td  style="background-image:url(Image1.jpg);background-repeat:no-repeat;background-size: 100% 100%;"/>
                 
                               <td>  </td>
                               <td style="text-align:right" > Home </td>
                           </tr>
                       </table>

                   </td>                   
               </tr>
               <tr style="background-color:darkcyan">
                   <td colspan ="3"> 
                       <p id="ME_Slider" onclick="showEditOptions(this)">    Slider</p>

                   </td>                   
               </tr>
               <tr>
                   <td colspan="3" id="ME_Details" onclick="showEditOptions(this)"  style="background-color:lightcyan" class="auto-style21">
                       <div id="Details" > 
                                   Details <br />
                                  Click here for edit options        
                       </div>  
                   </td>                   
               </tr>
               <tr id="imageRow1_tr">
                   <td class="auto-style11" style="background-image:url(Image1.jpg);background-repeat:no-repeat;background-size: 100% 100%;"/>
                   <td class="auto-style11" style="background-image:url(Image2.jpg);background-repeat:no-repeat;background-size: 100% 100%;"/>
                   <td class="auto-style11" style="background-image:url(Image1.jpg);background-repeat:no-repeat;background-size: 100% 100%;"/>                   
               </tr>
              <tr id="textRow1_tr">
                   <td class="auto-style22" > <div style="width: 100%;height:100%" contenteditable="true" id="M_Details1" > Type text here</div></td>
                   <td class="auto-style22"> <div  style="width: 100%;height:100%" contenteditable="true" id="M_Details2"> Type text here</div></td>
                   <td class="auto-style22" > <div style="width: 100%;height:100%" contenteditable="true" id="M_Details3"> Type text here</div></td>                   
               </tr>

               <tr>
                   <td colspan="2" style="text-align:left" >
                        
                       <div style="width=100%;height=100%" onclick="showEditOptions(this)" id="M_Address" ng-bind="E_M_AddressText" ng-style="myStyle">
                        </div>
                   </td>
                   <td style="text-align:right" class="auto-style7"> Facebook &nbsp; &nbsp; &nbsp; Twitter &nbsp;&nbsp;&nbsp;</td>                   
               </tr>
           </table>
    </td>
           
    <td style="width: 60%;" >       
           
           	 <!-- style="visibility:hidden" -->
           <span id="E_M_Address">
           			<div ng-app="">
                		<p>Type Here: <input type="text" ng-model="E_M_AddressText" value="Address"></p>             
            		</div>
         
		   	 <table style="width: 100%;">                               
               
             <tr>
                 <td colspan="2">Pick Back Ground Color</td>                 
             </tr>
             <tr>
                 <td><input type="button" value="LightYellow" style="background-color:lightyellow" ng-click="myStyle={'background-color':'lightyellow'}"></td>
                 <td><input type="button" value="lightblue" style="background-color:lightblue" ng-click="myStyle={'background-color':'lightblue'}"></td>                 
             </tr>
             <tr>
                 <td colspan="2"><br></td>                 
             </tr>
             <tr>
                 <td colspan="2">Pick Text Color</td>                 
             </tr>
             <tr>
                 <td><p style="color:black"  ng-click="myStyle={color:'black'}">text</p></td>
                 <td><p style="color:darkgreen"  ng-click="myStyle={color:'darkgreen'}">text</p></td>
             </tr>
             <tr>
                 <td colspan="2"><br></td>                 
             </tr>
             <tr>
                 <td colspan="2">Pick Font</td>                 
             </tr>
             <tr>
                 <td><p style="font:bold 12px arial"  ng-click="myStyle={font:'bold 12px arial'}">text</p></td>
                 <td><p style="font:italic 12px verdana" ng-click="myStyle={font:'italic 12px verdana'}">text</p></td>
             </tr>
             <tr>
                 <td><input name="publish"  type="submit"  value="publish"></td>
                 <td></td>
             </tr>
         </table>
       </span> 
           	
           	</td> 
           </tr>
           </table>        
    </form>
    
    
</body>
</html>
