﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>

    </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="JavaScript.js" type="text/javascript"></script>
    <link rel="stylesheet" href="StyleSheet.css" />
</head>

<body>
    
    <!--<div class="header" style="width:100%;   
                               text-align: center; background: #000000; ">
        <p style="vertical-align: middle; color: white">Head Bar</p>
    </div>-->

    <form action="default.aspx" method="post">
    <div id="idHeader">
        <div class="header" id="idHeaderOptionsDiv">
         <input type="button" name="SaveButton" value="Save" id="SaveButton" onclick="postUpdatedValues()"/>
         <input type="button" name="Publish" value="Publish" id="PublishButton" />        
        </div>    
             <input type="text" name="allChanges" value="" id="allChanges" />        
    </div>        
   
    <div id="Details" style="background-color:red;  width:50px; border:2px solid red; color:green; min-height:50px; min-width:200px; max-height:50px; max-width:200px;"
            onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" contenteditable="true" >
        Move your mouse pointer into and out of this element!
    </div>    
    <br />
    <div  id="Address" style="background-color:red;  width:50px; border:2px solid red; color:green; min-height:50px; min-width:200px; max-height:50px; max-width:200px;"
            onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" contenteditable="true" >
        Move your mouse pointer into and out of this element!
    </div>    

<ul>
    <li><a href="#">Percoidei</a>
        <ul>
            <li><a href="#">Remoras</a></li>
            <li><a href="#">Tilefishes</a></li>
            <li><a href="#">Bluefishes</a></li>
            <li><a href="#">Tigerfishes</a></li>
        </ul>
    </li>


    <li><a href="#">Anabantoidei</a>
        <ul>
            <li><a href="#">Climbing perches</a></li>
            <li><a href="#">Labyrinthfishes</a></li>
            <li><a href="#">Kissing gouramis</a></li>
            <li><a href="#">Pike-heads</a></li>
            <li><a href="#">Giant gouramis</a></li>
        </ul>
    </li>
</ul>
    <br />
    <ul>
    <li><a href="#">Percoidei</a>
        <ul>
            <li><a href="#">Remoras</a></li>
            <li><a href="#">Tilefishes</a></li>
            <li><a href="#">Bluefishes</a></li>
            <li><a href="#">Tigerfishes</a></li>
        </ul>
    </li>


    <li><a href="#">Anabantoidei</a>
        <ul>
            <li><a href="#">Climbing perches</a></li>
            <li><a href="#">Labyrinthfishes</a></li>
            <li><a href="#">Kissing gouramis</a></li>
            <li><a href="#">Pike-heads</a></li>
            <li><a href="#">Giant gouramis</a></li>
        </ul>
    </li>
</ul>
    <br />
    <ul>
    <li><a href="#">Percoidei</a>
        <ul>
            <li><a href="#">Remoras</a></li>
            <li><a href="#">Tilefishes</a></li>
            <li><a href="#">Bluefishes</a></li>
            <li><a href="#">Tigerfishes</a></li>
        </ul>
    </li>


    <li><a href="#">Anabantoidei</a>
        <ul>
            <li><a href="#">Climbing perches</a></li>
            <li><a href="#">Labyrinthfishes</a></li>
            <li><a href="#">Kissing gouramis</a></li>
            <li><a href="#">Pike-heads</a></li>
            <li><a href="#">Giant gouramis</a></li>
        </ul>
    </li>
</ul>
<br />
    <ul>
    <li><a href="#">Percoidei</a>
        <ul>
            <li><a href="#">Remoras</a></li>
            <li><a href="#">Tilefishes</a></li>
            <li><a href="#">Bluefishes</a></li>
            <li><a href="#">Tigerfishes</a></li>
        </ul>
    </li>


    <li><a href="#">Anabantoidei</a>
        <ul>
            <li><a href="#">Climbing perches</a></li>
            <li><a href="#">Labyrinthfishes</a></li>
            <li><a href="#">Kissing gouramis</a></li>
            <li><a href="#">Pike-heads</a></li>
            <li><a href="#">Giant gouramis</a></li>
        </ul>
    </li>
</ul>
 </form>
</body>
</html>
