﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script> 
    <script src="AngularJsScript.js"></script>
   <!-- <script src="protractor.js"></script>-->

</head>
<body data-ng-app="myApp" data-ng-controller="MainCtrl">
       




    <div >        
     
     <a id="IdHome" href="http://{{ModelHomeHref}}"  data-ng-mouseover="ShowEditOptions($event)"> {{ ModelHomeText}} </a>
    
        
     <div id="EditorIdHome" ng-show="NgShowEditorIdHome" >      
         Caption: <input type="text" id="Text2" ng-model="ModelHomeText" value="Home" ng-initial/> 
         Company Webpage: <input type="text" id="" ng-model="ModelHomeHref"  value="www.critzee.com" ng-initial/>      
         <input type="button" id="Text3" ng-click="hideAllEditors($event)" value="x"  />
     </div>

    </div>



    <div >
      <a id="IdLogo" href="" ng-mouseover="ShowEditOptions($event)">Logo </a>
                
    <div id="EditorIdLogo" ng-show="NgShowEditorIdLogo">
        <input type="file" id="file" name="file"/>  
        <button ng-click="uploadFile()">Add</button>
        <input type="button" id="Button1" ng-click="hideAllEditors($event)" value="x"  />

        <input type="file" ng-file-select="onFileSelect($files)" multiple>

        <input type="file" name="file" onchange="angular.element(this).scope().uploadFile2(this.files)"/>
    

        </div>
    </div>



    
    
  <!--<div ng-repeat="entry in entries">-->
 <div> 
   <div> 
      <div > something 1</div>
      <div > something 2 </div>
      <div > something 3</div>   
      <div  showonhoverparent>
         <span ng-click="deleteEntry(entry)"><a class="btn btn-danger" href="#">Home Caption </a></span>
         <span ng-click="deleteEntry(entry)"><a class="btn btn-danger" href="#">Home Url </a></span>
      </div>
   </div>
</div>

    <div >
 
    {{ 'World' | greet}}
 
</div>

    <div >
      <button ng-click="toggle()">Toggle</button>    
          <p ng-show="visible">HI ; clicked toggle again!</p>
    </div>
















        <div >
     <p>Hello {{name}}!</p>
    {{msg}}
    <p  ng-click="go()" >click me</p>

    <div style='height:1000px'>

      <a id='here' ng-click="getItem()"> click here for getItem </a>

    </div>
     <h1>here</h1>
 </div>






  <div >

<a href="#/route1">Route 1</a><br/>
<a href="#/route2">Route 2</a><br/>


<div ng-view>


</div>




       
</div>

  </body>
</html>
