<!DOCTYPE html>
<html data-ng-app>

<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<script>
$scope.customStyle = {};
$scope.turnGreen = function (){
       $scope.customStyle.style = {"color":"green"};
}

$scope.turnBlue = function() {
    $scope.customStyle.style = {"color":"blue"};
}
</script>

</head>

<body>

<form action="SiteModifier" method="POST">
<div data-ng-style="customStyle.style" data-ng-click="focusinControl.takeTablet()">
 
<p>Input something in the input box:</p>
<p>Name: <input type="text" data-ng-model="name" value="John"></p>
<p data-ng-bind="name"></p>

</div>


<div data-ng-style="customStyle.style">
 
<p> </p>
<p><input type="text" data-ng-model="name" value="John"></p>
<p data-ng-bind="name"></p>

</div>

 
<div data-ng-style="customStyle.style">
 
<p id="CompanyName" contentEditable="true"> company name</p>
<p  id="Description" contentEditable="true"> Description </p>
</div>
 <br>


Save The Changes 
<input name="Save"  type="submit"  value="Save">  &nbsp; &nbsp; &nbsp;

<input name="Publish"  type="submit"  value="Publish">

</form>
</body>
</html>
