<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title> Careers</title>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script> 
 
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>    
    <link rel="shortcut icon" href="favicon.ico"/>  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'/>   
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css"/>   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css"/>
    <link rel="stylesheet" href="assets/plugins/pretty-photo/css/prettyPhoto.css"/> 
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/plugins/jflickrfeed/jflickrfeed.min.js"></script> 
    <script type="text/javascript" src="assets/js/main.js"></script>
    
	<script src="../../ModifierScripts.js"></script>
      <link rel="stylesheet" href="../../ModifierStyleSheet.css"/>
      <script src="../../AngularJsScript.js"></script>
      <script src="http://code.jquery.com/jquery-latest.js"></script>
       

</head> 

<body data-ng-app="myApp" data-ng-controller="MainCtrl">


<div class="modifierheader" id="idHeader">
        
 <form action="../../SiteModifier" method="POST">
         
	 <input id="SaveButton" name="SaveButton" class="modifierOptions"  onclick="saveUpdatedValues()" type="button" value="Save"/>
         <input id="PublishButton" name="Publish" class="modifierOptions"  onclick="publishUpdatedValues()" type="button" value="Publish"/>        
         </form>
    
</div> 
  
 

    
<div>
    
 
<br/>
<br/>
<br/>

<div class="wrapper" id="home-wrapper">
        <!-- ******HEADER****** -->  
        
<header class="header">
        
           
<div class="content container">
             
<section class="job-header">        
                
<div class="col-md-12" style="padding-left: 0px;">
                      
	<span id="M_CompanyName" onmouseout="OnMouseOut (this)" onmouseover="OnMouseIn (this)" contenteditable="true" style="font-size: 60px;font-weight: normal;border-right: medium solid;color: #666666;"> C-Cube </span>
        <span id="M_CareersStaticText" onmouseout="OnMouseOut (this)" onmouseover="OnMouseIn (this)" contenteditable="true"  style="font-size: 30px;vertical-align: 25%;padding-left: 6px;">Careers </span>
                    
     <div >                   
        <a class="btn btn-theme"  style="float: right;margin-top: 3%;border-radius: 15px;min-height: 35px;width: 106px;margin-right: 5%;" 
        id="IdHome" href="http://{{ModelHomeHref}}"  ng-mouseover="ShowEditOptions($event)"> {{ ModelHomeText}} </a>
        	 
        
     <!-- 
     <a id="IdHome" href="http://{{ModelHomeHref}}"  ng-mouseover="ShowEditOptions($event)"> {{ ModelHomeText}} </a>
     -->
        
     <div id="EditorIdHome" ng-show="NgShowEditorIdHome" >      
         Caption: <input type="text" id="Text2" ng-model="ModelHomeText" value="Home" ng-initial=""/> 
         Company Webpage: <input type="text" id="" ng-model="ModelHomeHref"  value="www.critzee.com" ng-initial=""/>      
         <input type="button" id="Text3" ng-click="hideAllEditors($event)" value="x"  />
     </div>

    </div>
   
                   
                    
</div>                    
                    
</section>          
                    
</div>
            
            
<img src="image/home.png" style="width: 100%"/>
           
          
        </header>
        
        
<div class="content container" style="margin-top: 3%">
           
            
<section class="">        
                
<div class="col-md-12" style="padding-left: 0px;">
                    
<section class="course-finder">
                        
<h1 class="section-heading text-highlight">
<span class="line" contenteditable="true" id="M_findJobs" onmouseout="OnMouseOut (this)" onmouseover="OnMouseIn (this)">undefined</span>
</h1>
                        
<div class="section-content" style="padding: 0px;">
                               
                                 
<div class="row">
                                    
<div class="col-md-5 col-sm-5 subject" style="margin-left: 3%;">
                                        
                                        
<input class="form-control pull-left" placeholder="Job Title, Keywords" style="border: 1px solid;border-radius: 10px;height: 50px;border-color: gainsboro" type="text"/>
                                       
                                    
</div> 
                                    
<div class="col-md-5 col-sm-5 keywords">
                                        
<input class="form-control pull-left" placeholder="City or State" style="width: 94%;border: 1px solid;border-radius: 10px;height: 50px;border-color: gainsboro" type="text"/>
                                        
</div>
                                        
                                        
<div class="col-md-1 col-sm-1 serach-button">
                                        
<a class="btn-search" href="job-listing.html" style="text-align: center;">
                                        <button class="btn btn-theme" style="height: 50px;width: 100%;border-radius: 6px;" type="button"><i class="fa fa-search"></i></button>
                                        </a>
                                    
</div> 
                                
</div>                     
                            
                        
</div>
<!--//section-content-->
                    
</section>
<!--//course-finder-->
                  
                
</div>
            
</section>
<!--//promo-->
            
<section class="news">
                
                
<h1 class="section-heading text-highlight">
<span class="line">FEATURED JOBS</span>
</h1>     
                
<div class="carousel-controls">
                    
<a class="prev" data-slide="prev" href="#news-carousel"><i class="fa fa-caret-left"></i></a>
                    <a class="next" data-slide="next" href="#news-carousel" style="float: right;"><i class="fa fa-caret-right"></i></a>
                
</div>
<!--//carousel-controls--> 
                
<div class="section-content clearfix">
                    
<div class="news-carousel carousel slide" id="news-carousel">
                        
<div class="carousel-inner">
                            
<div class="item active"> 
                                
<div class="col-md-4 news-item">
                                    
<h2 class="title">
<a href="job-view.html">Sr. Developer </a>
</h2>
                                    
                                    
<p>Suspendisse purus felis, porttitor quis sollicitudin sit amet, elementum et tortor. Praesent lacinia magna in malesuada vestibulum. Pellentesque urna libero.</p>
                                    
<a class="read-more" href="job-view.html">Read more<i class="fa fa-chevron-right"></i></a>                
                                
</div>
<!--//news-item-->
                                
<div class="col-md-4 news-item">
                                    
<h2 class="title">
<a href="#">Graphic Designer </a>
</h2>
                                    
<p>Nam feugiat erat vel neque mollis, non vulputate erat aliquet. Maecenas ac leo porttitor, semper risus condimentum, cursus elit. Vivamus vitae libero tellus.</p>
                                    
<a class="read-more" href="#">Read more<i class="fa fa-chevron-right"></i></a>
                                   
                                
</div>
<!--//news-item-->
                                
<div class="col-md-4 news-item">
                                    
<h2 class="title">
<a href="#">Programmer</a>
</h2>
                                    
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum mauris eget sapien consectetur pellentesque. Proin elementum tristique euismod. </p>
                                    
<a class="read-more" href="#">Read more<i class="fa fa-chevron-right"></i></a>
                                   
                                
</div>
<!--//news-item-->
                            
</div>
<!--//item-->
                          
                        
</div>
<!--//carousel-inner-->
                    
</div>
<!--//news-carousel-->  
                
</div>
<!--//section-content-->     
                
            
</section>
<!--//news-->
            
            
<section class="news" style="background-color: white;margin-bottom: -29%;">
                
<h1 class="section-heading text-highlight">
<span class="line">WORK BENEFITS</span>
</h1>     
                
                
<div class="section-content clearfix">
                    
                        
<div class="carousel-inner">
                            
<div class="item active"> 
                                
                                
<div class="col-md-4 image-box1" style="padding-right:15px;">
                                    
<img alt="" src="image/beni2.jpg" style="width: 100%;height: 200px;"/>
                                    <div contenteditable="true" id="M_details1" onmouseout="OnMouseOut (this)" onmouseover="OnMouseIn (this)" style="position: relative;padding: 10px 30px 10px 30px;">
  					Lorem ipsum dolor sit amet, consec-
                                        tetuer adipiscing elit. Aen
                                        Lorem ipsum dolor sit amet, consec-
                                        tetuer adipiscing elit. Aen
                                        </div>
                                
</div>
<!--//news-item-->
                                
                                
<div class="col-md-4 image-box" style="padding-right:15px;padding-left:15px;">
                                   
<img alt="" src="image/beni.jpg" style="width: 100%;height: 200px;"/>
                                    <div contenteditable="true" id="M_details2" onmouseout="OnMouseOut (this)" onmouseover="OnMouseIn (this)" style="position: relative;padding: 10px 30px 10px 30px;">
                                        Lorem ipsum dolor sit amet, consec-
                                        tetuer adipiscing elit. Aen
                                        Lorem ipsum dolor sit amet, consec-
                                        tetuer adipiscing elit. Aen
                                    </div>
                                
</div>
<!--//news-item-->
                                
<div class="col-md-4 image-box" style="padding-left:15px;">
                                    
<img alt="" src="image/beni3.jpg" style="width: 100%;height: 200px;"/>
                                     <div contenteditable="true" id="M_details3" onmouseout="OnMouseOut (this)" onmouseover="OnMouseIn (this)" style="position: relative;padding: 10px 30px 10px 30px;">
					Lorem ipsum dolor sit amet, consec-
                                        tetuer adipiscing elit. Aen
                                        Lorem ipsum dolor sit amet, consec-
                                        tetuer adipiscing elit. Aen
                                        </div>
                                
</div>
<!--//news-item-->
                            
</div>
<!--//item-->
                          
                        
</div>
<!--//carousel-inner-->
                   
                
</div>
<!--//section-content-->     
            
</section>
<!--//news-->
            
            
            
<div class="row cols-wrapper">
                
                
                
        
          
            
</div>
<!--//cols-wrapper-->
            
        
</div>
<!--//content-->
    
</div>
<!--//wrapper-->
    
    <!-- ******FOOTER****** --> 
    
<footer class="footer" style="height: auto;">
        
<div class="footer-content" style="height: auto;">
            
<div class="container">
                
<div class="row">
                
<div class="footer-col col-md-3 col-sm-4 about">
                   
                    
<div class="footer-col-inner">
                        
<h3>Address</h3>
                        
<br/> 
<div contenteditable="true" id="M_address" onmouseout="OnMouseOut (this)" onmouseover="OnMouseIn (this)">undefined</div>
                    
</div>
                                   
    
                   
                
</div>
           
                
<div class="footer-col col-md-3 col-sm-4 about" style="float: right">
                   
                   
                      
                       
                      
<h3>Follow Us on</h3>
                      
                        
<div style="position: relative">
                           
                            
<a class="social-style" href="#"><i class="fa fa-twitter"></i></a>
                       <a class="social-style" href="#"><i class="fa fa-facebook"></i></a>
                       <a class="social-style" href="#"><i class="fa fa-youtube"></i></a>
                       <a class="social-style" href="#"><i class="fa fa-linkedin"></i></a>
                       <a class="social-style" href="#"><i class="fa fa-google-plus"></i></a>
                      <a class="social-style" href="#"><i class="fa fa-skype"></i></a>
                      
                       
                      
</div>

                  
                    
                    
                    
                    <!--//footer-col-inner-->
                   
                
</div>
               
               
                
</div>   
            
</div>        
        
</div>
<!--//footer-content-->
        
<div class="bottom-bar">
            
<div class="container">
                
<div class="row" style="text-align: center;">
                    
<small class="copyright col-md-12 col-sm-12 col-xs-12">Copyright@2015</small>
                  
                
</div>
<!--//row-->
            
</div>
<!--//container-->
        
</div>
<!--//bottom-bar-->
    
</footer>
<!--//footer-->
 
</div>

</body>

</html>
